<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>221FAD3721BAE0B8005AE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221FAD4B21BAE0C0005AE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221FAD5621BAE0C0005AE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
